body {font-size:14px;font-family:Microsoft Yahei; background:#F1F1F1;}
*{margin:0; padding:0;	}
dl {margin:0;}
dt {font-weight:normal;}
ul, li {list-style-type:none;margin:0;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
a {color: #333;text-decoration:none;-o-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-webkit-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
a:hover {text-decoration:none;color:inherit;}
a:focus {text-decoration:none;color:inherit;}
img { border:0;vertical-align:middle;}
textarea {font-family:Microsoft Yahei;}
table {border-collapse:collapse;}
input {border:0;}
.wrap {
    width:100%;
	overflow:hidden;
    min-width: 320px;
    margin: 0px auto;
    max-width: 640px;
	box-sizing:border-box;
	position:relative;
	min-height:100%;
}
input[type="radio"]:checked:after{
    width:20px;
	height:20px;
	border:1px solid #ddd;
	background:url(../images/4_11.png) center no-repeat #333;
	background-size:10px auto;
}
/*公共样式勿删除*/
.clearfix:after {content: " ";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {zoom: 1;}
.container {width:1200px; margin:0 auto;}
.f_b {font-weight:bold;}
.v_m {vertical-align:middle;}
.v_t {vertical-align:top;}
.fl { float:left;}
.fr {float:right;}
.db {display:block;}
.dnb {display:inline-block;}
.d_n {display:none;}
.bod_r50 {border-radius:50%;}
.bod_r {border-radius:5px;}
.p20 {padding:20px;}
.pt5 {padding-top:5px;}
.pb5 {padding-bottom:5px;}
.pl5 {padding-left:5px;}
.pr5 {padding-right:5px;}
.pt10 {padding-top:10px;}
.pb10 {padding-bottom:10px;}
.pl10 {padding-left:10px;}
.pr10 {padding-right:10px;}
.pt15 {padding-top:15px;}
.pl15 {padding-left:15px;}
.pr15 {padding-right:15px;}
.pb15 {padding-bottom:15px;}
.pr20 {padding-right:20px;}
.pb20 {padding-bottom:20px;}
.pl20 {padding-left:20px;}
.pt20 {padding-top:20px;}
.pr25 {padding-right:25px;}
.pb25 {padding-bottom:25px;}
.pl25 {padding-left:25px;}
.pt25 {padding-top:25px;}
.pr30 {padding-right:30px;}
.pb30 {padding-bottom:30px;}
.pl30 {padding-left:30px;}
.pt30 {padding-top:30px;}
.mt5 {margin-top:5px;}
.mb5 {margin-bottom:5px;}
.ml5 {margin-left:5px;}
.mr5 {margin-right:5px;}
.mt10 {margin-top:10px;}
.mb10 {margin-bottom:10px;}
.ml10 {margin-left:10px;}
.mr10 {margin-right:10px;}
.mt15 {margin-top:15px;}
.ml15 {margin-left:15px;}
.mr15 {margin-right:15px;}
.mb15 {margin-bottom:15px;}
.mr20 {margin-right:20px;}
.mb20 {margin-bottom:20px;}
.ml20 {margin-left:20px;}
.ml80 {margin-left:80px;}
.mt20 {margin-top:20px;}
.mr25 {margin-right:25px;}
.mb25 {margin-bottom:25px;}
.ml25 {margin-left:25px;}
.mt25 {margin-top:25px;}
.mr30 {margin-right:30px;}
.mb30 {margin-bottom:30px;}
.ml30 {margin-left:30px;}
.mt30 {margin-top:30px;}
.t_c {text-align:center;}
.t_r {text-align:right;}
.t_l {text-align:left;}
.f36 {font-size:36px;}
.f32 {font-size:32px;}
.f30 {font-size:30px;}
.f28 {font-size:28px;}
.f24 {font-size:24px;}
.f22 {font-size:22px;}
.f20 {font-size:20px;}
.f12 {font-size:12px;}
.f18 {font-size:18px;}
.f16 {font-size:16px;}
.f14 {font-size:14px;}
.bod {border:1px solid #eee;}
.b_t {border-top:1px solid #eee;}
.b_r {border-right:1px solid #eee;}
.bb_d {border-bottom:1px dotted #ddd;}
.bb {border-bottom:1px solid #eee;}
.b_l {border-left:1px solid #eee;}
.lh30 {line-height:30px;}
.lh24 {line-height:24px;}
.t_d {text-decoration:underline;}
.p_r {position:relative;}
.c_p {cursor:pointer;}
.c_6 {color:#666;}
.white { color:#fff;}
.red {color:red;}
.c_9 {color:#999;}
.yellow {color:#ffeb92;}
.blue{color:#3363FC;}
.bgf {background:#fff;}
.orange {color:#ff8600;}
.box_s {box-shadow:0 0 10px #ddd;}
.td2 {text-indent:2em;}
.bgcolor {background:#F6F6F6;}
.green {color:#87caac;}
.p10 {padding:10px;}
.p15 {padding:15px;}
.p20 {padding:20px;}
.p30 {padding:30px;}
.main {padding-bottom:53px;}
html,body {
	min-height:100%;
}




.m_p01 {
	background:#10AEFF;
	text-align:center;
	color:#fff;
	padding:15px 0;
}
.m_ewm {
	display:inline-block;
	background:#fff;
	padding:15px;
	text-align:center;
	color:#E74C3C;
	font-size:15px;
	margin:15px 0 10px;
}
.m_ewm p{
	padding-top:10px;
}
.m_btn {
	display:block;
	background:#10AEFF;
	color:#fff;
	text-align:center;
	border-radius:5px;
	padding:10px 0;
}
.m_tip {
	background:rgba(0,0,0,0.1);
	color:#666;
	display:block;
	font-size:12px;
	padding:7px 20px;
	width:65%;
	margin:0 auto 10px;
}
.m_p02,.m_btn02 {
	background:#41B035;
}
.m_p03,.m_btn03 {
	background:#FB2B1D;
}
.m_list li {
	border-bottom:1px solid #eee;
	line-height:40px;
}
.m_list li:last-child {
	border:none;
}
.disimg{display:none;background:#000;opacity:0.5;text-align:center;position:fixed;top:0;left:0;z-index:-1;}
.disimg img{max-height:100%;width:auto;}



















